.header-container {
  width: 100%;
  z-index: 1000;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.header-spacer {
  height: 90px;
}

@media (max-width: 430px) {

  .header-spacer {
    height: 60px; 
  }

  .header-title {
    font-size: 16px !important;
  }

}